<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introducing-Pandas-DataFrame-Objects" data-toc-modified-id="Introducing-Pandas-DataFrame-Objects-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introducing Pandas DataFrame Objects</a></span><ul class="toc-item"><li><span><a href="#The-Pandas-DataFrame-Object" data-toc-modified-id="The-Pandas-DataFrame-Object-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>The Pandas DataFrame Object</a></span><ul class="toc-item"><li><span><a href="#DataFrame-as-a-generalized-NumPy-array" data-toc-modified-id="DataFrame-as-a-generalized-NumPy-array-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>DataFrame as a generalized NumPy array</a></span></li><li><span><a href="#DataFrame-as-specialized-dictionary" data-toc-modified-id="DataFrame-as-specialized-dictionary-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>DataFrame as specialized dictionary</a></span></li><li><span><a href="#Constructing-DataFrame-objects" data-toc-modified-id="Constructing-DataFrame-objects-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Constructing DataFrame objects</a></span><ul class="toc-item"><li><span><a href="#From-a-single-Series-object" data-toc-modified-id="From-a-single-Series-object-1.1.3.1"><span class="toc-item-num">1.1.3.1&nbsp;&nbsp;</span>From a single Series object</a></span></li><li><span><a href="#From-a-list-of-dicts" data-toc-modified-id="From-a-list-of-dicts-1.1.3.2"><span class="toc-item-num">1.1.3.2&nbsp;&nbsp;</span>From a list of dicts</a></span></li><li><span><a href="#From-a-dictionary-of-Series-objects" data-toc-modified-id="From-a-dictionary-of-Series-objects-1.1.3.3"><span class="toc-item-num">1.1.3.3&nbsp;&nbsp;</span>From a dictionary of Series objects</a></span></li><li><span><a href="#From-a-two-dimensional-NumPy-array" data-toc-modified-id="From-a-two-dimensional-NumPy-array-1.1.3.4"><span class="toc-item-num">1.1.3.4&nbsp;&nbsp;</span>From a two-dimensional NumPy array</a></span></li><li><span><a href="#From-a-NumPy-structured-array" data-toc-modified-id="From-a-NumPy-structured-array-1.1.3.5"><span class="toc-item-num">1.1.3.5&nbsp;&nbsp;</span>From a NumPy structured array</a></span></li></ul></li></ul></li><li><span><a href="#DataFrame-Indexing" data-toc-modified-id="DataFrame-Indexing-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>DataFrame Indexing</a></span><ul class="toc-item"><li><span><a href="#Index-as-immutable-array" data-toc-modified-id="Index-as-immutable-array-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Index as immutable array</a></span></li><li><span><a href="#Index-as-ordered-set" data-toc-modified-id="Index-as-ordered-set-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Index as ordered set</a></span></li></ul></li></ul></li></ul></div>

# Introducing Pandas DataFrame Objects

At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provides a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [2]:
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## The Pandas DataFrame Object

Another fundamental structure in Pandas is the ``DataFrame``.
Like the ``Series`` object discussed in the previous section, the ``DataFrame`` can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.
We'll now take a look at each of these perspectives.

### DataFrame as a generalized NumPy array
If a ``Series`` is an analog of a one-dimensional array with flexible indices, a ``DataFrame`` is an analog of a two-dimensional array with both flexible row indices and flexible column names.
Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a ``DataFrame`` as a sequence of aligned ``Series`` objects.
Here, by "aligned" we mean that they share the same index.

To demonstrate this, let's first construct a new ``Series`` listing the area of each of the five states discussed in the previous section:

In [18]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

Now that we have this along with the ``population`` Series from before, we can use a dictionary to construct a single two-dimensional object containing this information:

In [19]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

Like the ``Series`` object, the ``DataFrame`` has an ``index`` attribute that gives access to the index labels:

In [20]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

Additionally, the ``DataFrame`` has a ``columns`` attribute, which is an ``Index`` object holding the column labels:

In [21]:
states.columns

Index(['area', 'population'], dtype='object')

Thus the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of a dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

In [22]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

Notice the potential point of confusion here: in a two-dimesnional NumPy array, ``data[0]`` will return the first *row*. For a ``DataFrame``, ``data['col0']`` will return the first *column*.
Because of this, it is probably better to think about ``DataFrame``s as generalized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.
We'll explore more flexible means of indexing ``DataFrame``s in [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb).

### Constructing DataFrame objects

A Pandas ``DataFrame`` can be constructed in a variety of ways.
Here we'll give several examples.

#### From a single Series object

A ``DataFrame`` is a collection of ``Series`` objects, and a single-column ``DataFrame`` can be constructed from a single ``Series``:

In [23]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [24]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [25]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### From a dictionary of Series objects

As we saw before, a ``DataFrame`` can be constructed from a dictionary of ``Series`` objects as well:

In [26]:
pd.DataFrame({'population': population,
              'area': area})

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [27]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.865257  0.213169
b  0.442759  0.108267
c  0.047110  0.905718

#### From a NumPy structured array

We covered structured arrays in [Structured Data: NumPy's Structured Arrays](02.09-Structured-Data-NumPy.ipynb).
A Pandas ``DataFrame`` operates much like a structured array, and can be created directly from one:

In [28]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.0), (0, 0.0), (0, 0.0)],
      dtype=[('A', '<i8'), ('B', '<f8')])

In [29]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## DataFrame Indexing

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers: